@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d1d1d;
    width: 100%;
    background: url("/static/files/assets/background-auth.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.ring {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}

.ring i:nth-child(1) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}

.ring:hover i:nth-child(1) {
    border: 6px solid #4d4dff;
    filter: drop-shadow(0 0 20px #4d4dff);
}

.ring:hover i:nth-child(2) {
    border: 6px solid #6600cc;
    filter: drop-shadow(0 0 20px #6600cc);
}

.ring:hover i:nth-child(3) {
    border: 6px solid #8000ff;
    filter: drop-shadow(0 0 20px #8000ff);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.login-ring {
    width: 500px;
    height: 500px;
}

.register-ring {
    width: 800px;
    height: 800px;
}

.login,
.register {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login h2,
.register h2 {
    font-size: 2em;
    color: #fff;
}

.inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.inputBx input{
    position: relative;
    width: 100%;
    padding: 12px 40px 12px 20px;
    background: transparent;
    border: 2px solid #bbb;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
    transition: border-color 0.3s;
}
.inputBx textarea{
    position: relative;
    width: 100%;
    padding: 12px 40px 12px 20px;
    background: transparent;
    border: 2px solid #bbb;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
    transition: border-color 0.3s;
}
.inputBx select{
    position: relative;
    width: 100%;
    padding: 12px 40px 12px 20px;
    background: transparent;
    border: 2px solid #bbb;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
    transition: border-color 0.3s;
}

.inputBx input:focus {
    border-color: #fff;
}

.inputBx input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.inputBx textarea:focus {
    border-color: #fff;
}

.inputBx textarea::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.inputBx select:focus {
    border-color: #fff;
}

.inputBx select::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.toggle-password,
.toggle-confirm-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('/static/files/assets/icons8-surprise-64.png') no-repeat center;
    background-size: 80% auto;
    cursor: pointer;
}

.inputBx input[type="submit"] {
    width: 100%;
    background: #3c0080;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
}

.inputBx input[type="submit"]:hover {
    background: #6600cc;
}

.links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.links .already-registered {
    color: #fff;
    margin-right: 0px;
}

.links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: #6600cc;
}

.links a:last-child {
    margin-left: 20px;
    margin-right: 10px;
}

.form-messages {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

.form-success {
    color: #fff;
}

.form-error {
    color: #ff0000;
}

.confirm-font {
    font-size: 2.5em;
    padding: 20px;
    color: white;
}

.iziToast-title {
    color: #fff;
    font-size: 25px;
}
.iziToast-message {
    font-size: 20px;
}


